<!DOCTYPE html>
<html>
<head>
	<meta content="text/html;charset=UTF-8"/>
	<title>代码Online执行引擎</title>
	<meta name="keywords" content="fsLayuiPlugin,layui,layuiPlugin,layui插件,layui快速开发插件" />
    <meta name="description" content="fsLayuiPlugin,layui,layuiPlugin,layui插件,layui快速开发插件" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta http-equiv ="Pragma" content = "no-cache"/>
	<meta http-equiv="Cache-Control" content="no cache" />
	<meta http-equiv="Expires" content="0" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no"/>	
	<script src="static/js/cdn/pace.min.js?v=1.0.1"></script>
	<link href="static/css/cdn/pace-theme-flash.css?v=1.0.1" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="static/plugins/layui/css/layui.css?v=1.0.1" media="all"/>
	<link rel="stylesheet" type="text/css" href="static/css/cdn/font_520106_q8xykrwf86ywrk9.css?v=1.0.1" media="all"/>
	<script type="text/javascript" src="static/plugins/layui/layui.js?v=1.0.1"></script>
	<script type="text/javascript" src="static/plugins/jquery/jquery.min.js?v=1.0.1"></script>
	<!--<link rel="stylesheet" href="static/plugins/ztree/css/zTreeStyle.css?v=1.0.1" type="text/css">-->
	<link rel="stylesheet" href="static/plugins/ztree/css/metroStyle.css?v=1.0.1" type="text/css">
	<script type="text/javascript" src="static/plugins/ztree/js/jquery.ztree.all.min.js?v=1.0.1"></script>
	<!-- 业务公用库 -->
	<script type="text/javascript" src="static/js/common.js?v=1.0.1"></script>
	<script type="text/javascript" src="static/js/lib.js?v=1.0.1"></script>
	<script>

	Common.ctxPath= 'static';
	Common.version= 'v2.4.5';
	//设定layui模块的版本,1234
	layui.config({
		base : Common.ctxPath+"/js/code/",
		version : Common.version
	});
	$(document).ready(function () { }).keydown(
　　　function (e) {
　　　　if (e.which === 27) {
		Common.openConfirm("是否放弃治疗回到主页?",function(){
			layer.closeAll(); 
		})
　　　　　 
　　　　   }
	});
	</script>
	<style>
	.site-block{padding: 20px; border: 1px solid #eee;}
	
    
    .input-readonly{
    	background-color: #efefef;  
    	cursor:not-allowed;
	}  
	.button-disabled{
    	background-color: #efefef;  
    	cursor:not-allowed;
	}  
	</style>
</head>

<link rel="stylesheet" href="static/plugins/codemirror-5.59.4/lib/codemirror.css" rel="external nofollow" >
<link rel="stylesheet" href="static/plugins/codemirror-5.59.4/addon/fold/foldgutter.css" rel="external nofollow" >
<link rel="stylesheet" href="static/plugins/codemirror-5.59.4/addon/hint/show-hint.css" rel="external nofollow" >
<link rel="stylesheet" href="static/plugins/codemirror-5.59.4/addon/lint/lint.css" rel="external nofollow" >
<link rel="stylesheet" href="static/plugins/codemirror-5.59.4/theme/idea.css" rel="external nofollow" >

<script src="static/plugins/codemirror-5.59.4/lib/codemirror.js"></script>
<script src="static/plugins/codemirror-5.59.4/addon/comment/comment.js"></script>
<script src="static/plugins/codemirror-5.59.4/addon/selection/active-line.js"></script>
<script src="static/plugins/codemirror-5.59.4/keymap/sublime.js"></script>
<script src="static/plugins/codemirror-5.59.4/addon/hint/show-hint.js"></script>
<script src="static/plugins/codemirror-5.59.4/mode/clike/clike.js"></script>
<script src="static/plugins/codemirror-5.59.4/addon/fold/foldcode.js"></script>
<script src="static/plugins/codemirror-5.59.4/addon/fold/foldgutter.js"></script>
<script src="static/plugins/codemirror-5.59.4/addon/fold/brace-fold.js"></script>
<script src="static/plugins/codemirror-5.59.4/addon/fold/indent-fold.js"></script>
<script src="static/plugins/codemirror-5.59.4/addon/fold/comment-fold.js"></script>
<script src="static/plugins/codemirror-5.59.4/addon/edit/closebrackets.js"></script>
<script src="static/plugins/codemirror-5.59.4/addon/edit/matchbrackets.js"></script>
<div class="layui-container">
    <div class="layui-row">
        <blockquote class="layui-elem-quote">
             <h3>FastAPI（jun-groovy-api）动态API组件 </h3><p/>本组件可动态生成API（运行态生成），在线写代码并执行代码，在线写SQL并执行SQL，功能非常强大

        </blockquote>
        <div class="layui-row">
        <form class="layui-form" action="">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">选择模板</label>
                    <div class="layui-input-inline">
                        <select name="quiz1">
                            <option value="">请选择模板</option>
                            <!--#for(fileName in fileNames){
                            -->
                                <option value="${fileName}">${fileName}</option>
                            <!--#}  -->
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <button type="button" class="layui-btn ext-toolbar" data-type="run">Run</button>
                </div>
				<!--
                <div class="layui-inline" id="verify-div" style="display: none;">
                    <div class="layui-inline">
                        <input type="text" name="verify-code" id="verify-code" autocomplete="off" placeholder="请输入验证码" class="layui-input">
                    </div>
                    <div class="layui-inline">
                        <img src="/verifyCode"  id="verify-code-image" style="width:100px;height:40px;">
                    </div>
                </div>
				 -->
            </div>
        </form>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-col-xs12 layui-col-md12">
            <textarea placeholder="请输入内容" class="layui-textarea" rows="25" id="codeTextArea"></textarea>
        </div>
		<!--
        <div class="layui-col-xs12 layui-col-md4">
            <div class="layui-tab" lay-filter="demo">
                <ul class="layui-tab-title">
                    <li class="layui-this" lay-id="11">用户表</li>
                    <li lay-id="22">部门表</li>
                </ul>
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">
                        <table id="userTable" lay-filter="userTable"></table>
                    </div>
                    <div class="layui-tab-item">
                        <table id="departmentTable" lay-filter="departmentTable"></table>
                    </div>
                </div>
            </div>
        </div>
		 -->
    </div>
    <div class="layui-row">
        <div class="layui-inline">
            <button type="button" class="layui-btn ext-toolbar" data-type="run">Run</button>
        </div>

    </div>
    <div class="layui-row">
        <div class="layui-col-md12">
            <div class="layui-card-body">
                <div class="layui-col-md12">
                    <textarea id="runResult" rows="10" cols="150" ></textarea>
                </div>
            </div>
        </div>
    </div>
</div>

<!--#}  -->
<script>
    layui.use(['index'], function(){
        var index = layui.index
        index.init();
    });
</script>
</body>
</html>